


/* ======== Media queries for responsive========  */


@media (max-width: 991px) {
    /*custom classes  */
    .text-content{
        width:100%;
    }
    .navigation-wrap .navbar-toggler:focus{
        box-shadow: none;
    }

    /* navbar brand */
    .navigation-wrap .navbar-brand img{
        height:3.8125rem
    }
    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
        color:var(--black-color);
    }
    /* footer link */
    .footer .footer-social a i{
        padding:0 0.75rem;
    }
}
/* @media (min-width:568){
    .navigation-wrap .nav-item a{
        font-size:20px;
        font-weight:450;
        padding:0px;
        line-height:1;
        color: red;
    }

} */
@media screen and (min-width:640px) {
    .row .card{
        margin-left: 150px;
    }
    .navigation-wrap .nav-item a{
        font-size:20px;
        font-weight:450;
        padding: 1.5px;
        line-height:1.7;
    }
}

@media (max-width: 767px) {

    /* custom css */
    h1 {
        font-size: 2.8rem;
    }

    h2 {
        font-size: 1.3rem;
        line-height: 28px;
    }
}


@media (max-width:330px) {

    /* carousel design */
    .testimonial-section .carousel-item{
        padding:13rem 3.125rem;
    } 
}
/* for cards section */
@media (min-width:370px)
{
    .row .card{
        margin-bottom: 50px !important;
    }
    /* .experts .section-head p{
        padding: 0;
    }
    .our-experts.owl-theme{
        margin-left: 0px !important;
    } */
}
@media (min-width: 375px){
    .services .row{
        margin-left: 10px !important;
       flex-wrap: wrap;
       margin: 10px !important;
    }
    /* .experts .d-lg-block p{
        margin-left: 0px ;
        text-align: left
     } */
}
/* for the our services section */
@media screen and (min-width:991px){
    .services .row .card{
        margin: 10px !important;
        height: auto !important;
        width: 290px !important;
    }
}



@media (min-width:320px){
    .services .row{
        margin-left: -18px !important;
        padding: 0 !important;
    }
    .row .p-sm-4 {
            padding: 1.5rem!important;
        }
        .services .para{
            margin-left: 1.5rem;
        }
        .about-us .card-text{
            margin-top:0px !important;
            line-height:1.5 !important;
            padding: 5px 10px !important;
            font-size:1.3rem !important;
            font-weight: 400;
            font-family: sans-serif;
        }

    }

/* experts section*/
@media (min-width:360px){
    .experts .section-head h4,
    .experts .section-head span{
       margin-left: -50px;
       margin-top: 0px;
    }
    .experts .section-head p{
        margin-left: -9px;
    }
    .about-us .card-text{
        margin-top:0px !important;
        line-height:1.5 !important;
        padding: 5px 10px !important;
        font-size:1.3rem !important;
        font-weight: 400;
        font-family: sans-serif;
    }

    .services .row{
        margin-left: -5px !important;
        padding: 0 !important;
    }
    .row .p-sm-4 {
            padding: 1.5rem!important;
        }
    }
    .services .row{
        margin: 10px;
        flex-wrap: wrap;
    }
    .navigation-wrap .nav-item a{
        font-size:16px;
        font-weight:500;
        padding:4px;
        line-height:1;
    }
@media (min-width: 768px) {
    .about-us .container img{
        margin-top: 90px !important;
        width: 100%  !important;
        height: 400px !important;
    }
    .about-us .container .card-text{
        line-height:1.5;
        padding:  10px;
        font-size:1.5rem;
        font-weight: 400;
        font-family: sans-serif;

    }

}
@media (min-width: 812px) {
    .about-us .container img{
        margin-top: 90px !important;
        width: 500px  !important;
    }

}
@media (min-width: 1024px) {
        .para{
            text-align: center;
        }
        /* services section */
        .services .row .card{
            height: 470px !important;
            width: 100% !important;
        }
        .services .card-title{
            width: 100% !important;
        }
        .testimonial-section .carousel-inner{
            margin-left: 5px !important;
        }
        .about-us .card-text{
            margin-top: -10px !important;
            padding: 45px 30px !important;
            line-height:1.5;
            font-size:1.5rem !important;
            font-weight: 600;
        }
    }

@media (min-width:1366px){
    .about-us .card-text{
        margin-top: 0px !important;
        padding: 10 20px !important;
    }
}

